

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: black;
    padding: 50px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;
    background: rgb(31, 31, 31);
    border-top-right-radius:15px ;
    border-top-left-radius:15px ;  
    color:#fff;
    transition: .6s;
}

.header h2, input, span{
    margin-top: 25px;
    
}

.header h2{
    font-size:45px;
    
}


.header span{
    margin-bottom: 25px;
}

.header:after{    
  content: "";
  display: table;
  clear: both;

}

input{
    border-radius: 5px;
    width: 70%;
    padding: 10px;

}

.addBtn{
    padding: 10px;
    width: 30%;
    background: black;
    border-radius: 5px;
    border:none;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    color: white;
    font-size: 16px;

}

.addBtn:hover{
    background: white;
    color:black;
}



ul{
    margin: 0;
    padding: 0;
    width: 80%;
    margin: auto; 
    
}

ul li {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: rgb(226, 226, 226);
    font-size: 18px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

ul li.checked{
    background: rgb(63, 63, 63);
    color: white;
    text-decoration: line-through;

}

.txtCorV{
    color:rgb(182, 131, 182);
}
.txtCorL{
    color:rgb(243, 164, 73);
}


ul li:nth-child(even) {
    background: rgb(185, 185, 185);
    
}
ul li:hover{
    background: rgb(146, 146, 146);

}

ul li:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }

  .close {
    position: absolute;
    top: -21px;
    right: 15px;
    padding: 8px 13px;
  }

  .close:hover {
    background-color: #f44336;
    border-radius: 50%;
    color: white;
  }

  
